DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@YOUR_HOST:5432/platanos_san_juan"
JWT_SECRET="your-super-secret-key-change-this-in-production-12345"
JWT_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"
PORT=3001
NODE_ENV="development"
API_PREFIX="api"
CORS_ORIGIN="http://localhost:3000,http://localhost:3001"
